<ion-header>
  <ion-toolbar>
    <ion-icon (click)="dismiss()" name="chevron-back-outline"></ion-icon>
    <ion-title>가입하기</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordfrm">
    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input formControlName="password" name="inputpassword" type="password"></ion-input>
    </ion-item>

    <div class="err-message">
      <ng-container *ngFor="let err of error_message.password">
        <div class="err-message" *ngIf="passwordfrm.get('password').hasError(err.type) && (passwordfrm.get('password').dirty || passwordfrm.get('password').touched)">
          {{err.message}}
        </div>
      </ng-container>
    </div>
    
  </form>
  
    
  
  <p>다음을 누르면 HowBe의 이용 약관에 동의 및 개인정보 보호정책을 읽었음을 확인합니다.</p>
  <ion-button expand="full" color="favorite" (click)="checkNsend()">다음</ion-button>
</ion-content>
