.container{
    display: flex;
    flex-direction: row;
    height: 90%; 
    line-height: 50px;
}

.footbar{
    height : 15%;
    margin :auto;
    border: 2px solid gray
 }

.items{
    width: 100%;
}

ion-thumbnail{
    margin :10px;
    border: 2px solid gray
}
