<ion-header>
  <ion-icon (click)="dismiss()" name="close-outline"></ion-icon>

  <ion-title></ion-title>
</ion-header>
<br>
<ion-content>
  <ion-slides scroll-y="false" [options]="slideOpts">
    <ion-slide>
      회원가입<br>
      <br>
      <ion-button (click)="signWithemail()" expand="full" color="light" >이메일 또는 휴대폰으로 회원가입</ion-button>
      <ion-button (click)="presentLogin()" fill="clear">로그인하기</ion-button>
    </ion-slide>
    <ion-slide>
      로그인<br>
      <br>
      <ion-button (click)="presentSignup()" expand="full" color="light">로그인하기</ion-button>
      <ion-button (click)="presentSignup()" fill="clear">회원가입</ion-button>
    </ion-slide>
  </ion-slides>
  
  
</ion-content>

    
